/*@import 'Merchant_dashboard'; 
/* header and nav styles */


.home-page {
  height: 100vh;
}

header{
  height: 100vh;
  background: url("../public/img/header-bg-1.jpg");
  background-size: cover;
  background-position: center;
  position: relative;
  justify-content: center;
  align-items: center;
}
.no-shadows {
  box-shadow: none!important;
  border: none !important;
}

header::before{
  content: '';
  position: absolute;
  background: rgba(48, 48, 48, 0.5);
  top:0;
  left: 0;
  right: 0;
  bottom: 0;
}

.summury-header{
  color: white;
  position: relative;
  z-index: 222;
}

.intro-text {
  background-color: rgba(48, 48, 48, 0.5);
  line-height: 30px;
}

main{
  padding: 30px 30px 0px 30px ;
  margin-top: 20px;
  position: relative;
}


/* main styles */

@media  screen and (max-width: 700px){
  section .row{
    display: flex;
    flex-direction: column;
  }
  .img-container{
    order: 2;
  }

.title-container{
    order: 1;
  }

}
/*-------CSS for Merchant Dashboard-------------------------*/ 

.title{
  display: flex; 
  justify-content: space-between; 
  border-bottom: 1px solid black;
}

.image-container{
  height: 100px;
  width: 100px; 
}

.responsive{
  height: 50px;
}

.main-page{
  height: auto;
}

.Rtable{
  display: flex;
  flex-wrap: wrap;
  margin: 0 0 3em 0;
  padding: 0;
}

.Rtable-cell{
  box-sizing: border-box;
  flex-grow: 1;
  width: 100%; 
  padding: 0.8em 1.2em;
  overflow: hidden;
  list-style: none;
  border: solid 3px white;
}

.Rtable--5cols > .Rtable-cell {
  width: 16.6%
}
/* footer style */

